<%= link_to "Venues", "/venues" %>
<%= link_to "Cities", "/cities" %>

<h1>Venue</h1>
<b><%=@venue.name%></b>
<ul>Main Sport <b><%=@venue.main_sport%></ul></b>
<ul>Max Capacity <b><%=@venue.max_capacity%></ul></b>
<ul>Dome? <b><%=@venue.dome%></ul></b>